<head>
<script src="/js/jquery/2.1.0/jquery-2.1.0.js"></script>
<script>

$(function() {

    $('#table_status').on('click', function (e) {
        e.preventDefault();

        /*$.ajax({
            type: 'GET',
            url: '',
            datatype: 'json',
            success: function (data) {*/
                $('#table_status_div_container').html('<iframe src="https://localhost:5000" style="width: 400px; height: 400px;"></iframe>');

    });
});
</script>

</head>
<div class="aui-group sidebar">
  <div class="aui-row">
    <div class="aui-item">
      <h3>HipCam</h3>
    </div>
  </div>
  <div class="aui-row">
    <div class="aui-item">
      <h4 id="details-title"></h4>
      <pre id="details"></pre>
    </div>
  </div>
  <br>
  <div class="aui-row">
    <div class="aui-item">
        <button class="aui-button" id="table_status">Get Table Status</button>
        <div id="table_status_div_container" style="width: 400px; height: 400px;"></div>
    </div>
  </div>
<a href="https://home.nest.com/camera/896a2f2dfb254b8187d9ad4702af2ea0" target="_blank">See Table Tennis Live!</a>
</div>



